@helper ModalHeader(string header, int id)
{
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">&times;</span><span class="sr-only">Sulje</span></button>
        <h4 class="modal-title" id="project-@id-label">@header</h4>
    </div>
}
