<div class="section clearfix object-non-visible" data-animation-effect="fadeIn">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <div class="jumbotron">
                    <h1 id="seura" class="title">Krav Maga <span>Tapiola</span></h1>
                    <p class="">
                        Voit liittyä mukaan aina tiistaisin tai torstaisin &mdash; tule mukaan!
                    </p>
                    <p>
                        <a href="#contact" class="btn btn-primary btn-lg">Ilmoittaudu</a>
                    </p>
                </div>
                <div class="space"></div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="well">
                            <h3>Treeniaikataulut</h3>
                            <strong>Treenit ovat aina tiistaisin ja torstaisin klo 18:00&ndash;19:30</strong>
                            <ul>
                                <li>
                                    Peruskurssi / valkoiset vyöt
                                </li>
                                <li>Keltaiset - siniset vyöt</li>
                            </ul>
                            <h3>Seuraavat treenit</h3>
                            <ul id="eventlist"></ul>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <p>
                            Krav Maga Tapiola kuuluu <a href="http://www.krav-maga.fi/">Pohjolan Krav Maga Itsepuolustusliiton (PKMI)</a> kautta maailman suurimpaan Krav Maga -liittoon, <a href="http://www.krav-maga.net/en/">Euroopan Krav Maga -liittoon (FEKM)</a> ja seurassa opetetaan Richard Douiebin Krav Maga –tyylisuuntaa.
                        </p>
                        @*
                            <p>Krav Maga Tapiola ry on perustettu 30.7.2015.</p>
                        *@
                        <h3>Hinnat</h3>
                        <dl class="dl-horizontal">
                            <dt>Kevätjakso 2016</dt>
                            <dd><span class="label label-primary">240 €</span> 12.1.2016 &ndash; 21.6.2016</dd>
                            <dt>Peruskurssi</dt>
                            <dd><span class="label label-primary">110 €</span> hinta vähennetään kyseisen jakson / kauden maksusta päättäessäsi jatkaa </dd>
                        </dl>
                        <p><small>Hinta sisältää: Krav Maga -lisenssi (PKMI ja FEKM jäsenyys), Krav Maga -passi (uusille oppilaille).</small></p>

                    </div>
                </div>
                <div class="row">@*
    <div class="col-md-6">

        <div class="well">
            <h3>Ei harjoituksia</h3>
            <ul class="list-unstyled">
                <li>
                    <i class="fa fa-caret-right pr-10 text-colored"></i>
                    <span class="label label-default">24.3.2016</span>
                </li>
            </ul>
        </div>

                    </div>  *@
                    <div class="col-md-6">
                        <div class="well">
                            <h3>Tulevat tasokokeet</h3>
                            <ul class="list-unstyled">
                                <li><i class="fa fa-caret-right pr-10 text-colored"></i> Keltainen: <span class="label label-primary">12.5.2016</span></li>
                            </ul>

                        </div>
                    </div>
                </div>
                <div class="space"></div>
                @Html.Partial("_Training")
                <div class="object-non-visible" data-animation-effect="fadeIn">

                    <div class="space">
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <h1 id="instructors" class="text-center title">Ohjaajat</h1>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <img src="~/Images/Teemu.jpg" alt="Teemu" class="img-circle center-block">
                            <div class="text-center h3">Teemu</div>
                        </div>
                        <div class="col-md-4">
                            <img src="~/Images/Mika.jpg" alt="Mika" class="img-circle center-block">
                            <div class="text-center h3">Mika</div>

                        </div>
                        <div class="col-md-4">
                            <img src="~/Images/Mikko.jpg" alt="Mikko" class="img-circle center-block">
                            <div class="text-center h3">Mikko</div>

                        </div>
                    </div>
                    <div class="space">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
