<div class="section clearfix object-non-visible" data-animation-effect="fadeIn">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <div class="jumbotron">
                    <h1 id="seura" class="title">Krav Maga <span>Tapiola</span></h1>
                    <p class="">
                        Aloita loistava harrastus ja opettele itsepuolustusta &mdash; tule mukaan!
                    </p>
                    <p class="smooth-scroll">
                        <a href="#join" class="btn btn-primary btn-lg">Ilmoittaudu</a>
                    </p>
                    <p>
                        Krav Maga Tapiola kuuluu <a href="http://www.krav-maga.fi/">Pohjolan Krav Maga Itsepuolustusliiton (PKMI)</a> kautta maailman suurimpaan Krav Maga -liittoon, <a href="http://www.krav-maga.net/en/">Euroopan Krav Maga -liittoon (FEKM)</a> ja seurassa opetetaan Richard Douiebin Krav Maga -tyylisuuntaa.
                    </p>
                </div>
                <div class="space"></div>
                <div class="row">
                    <div class="col-md-6">
                        <h3>Treeniaikataulut</h3>
                        <strong>Tiistai 18:10&ndash;19:40</strong>
                        <ul>
                            <li>
                                Intro-kurssi / valkoiset vyöt
                            </li>
                            <li>Edistyneet (keltainen &ndash; musta)</li>
                        </ul>
                        <strong>Torstai 18:00&ndash;19:30</strong>
                        <ul>
                            <li>
                                Intro-kurssi / valkoiset vyöt
                            </li>
                            <li>Edistyneet (keltainen &ndash; musta)</li>
                        </ul>
                        <strong>Lauantai 11:00&ndash;12:30</strong>
                        <ul>
                            <li>Intro-kurssin suorittaneet (valkoinen &ndash; musta)</li>
                            <li>Huom! Seminaari-päivinä ei normaaleja treenejä</li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <h3 id="join">Hinnat ja ilmoittautuminen</h3>
                        <p>
                            <i class="fa fa-info-circle text-info"></i>&nbsp;Klikkaa haluamaasi riviä (siirtyminen ilmoittautumiseen jäsenpalveluun)
                        </p>
                        <strong>Intro-kurssit 2017</strong>
                        <div class="list-group">
                            <a href="https://kravmaga.myclub.fi/flow/events/590554" class="list-group-item list-group-item-warning">22.8.2017 &ndash; 21.9.2017<span class="badge badge-primary">80 €</span></a>
                            <a href="https://kravmaga.myclub.fi/flow/events/590559" class="list-group-item list-group-item-warning">17.10.2017 &ndash; 16.11.2017<span class="badge badge-primary">80 €</span></a>
                        </div>
                        <strong>Kausi 2017-2018</strong>
                        <div class="list-group">
                            <a href="https://kravmaga.myclub.fi/flow/events/590546" class="list-group-item list-group-item-warning">15.8.2017 &ndash; 14.6.2018<span class="badge badge-primary">380 €</span></a>
                        </div>
                        <strong>Syysjakso 2017</strong>
                        <div class="list-group">
                            <a href="https://kravmaga.myclub.fi/flow/events/331147" class="list-group-item list-group-item-warning">15.8.2017 &ndash; 21.12.2017<span class="badge badge-primary">160 €</span></a>
                        </div>
                        <strong>Kevätjakso 2017</strong>
                        <div class="list-group">
                            <a href="https://kravmaga.myclub.fi/flow/events/593442" class="list-group-item list-group-item-warning">9.1.2018 &ndash; 14.6.2018<span class="badge badge-primary">250 €</span></a>
                        </div>
                        <p>
                            <small>Hinta sisältää: Krav Maga -lisenssi (PKMI ja FEKM jäsenyys), Krav Maga -passi (uusille oppilaille).</small>
                        </p>
                        <span class="label label-info">Huom! Opiskelija-alennus -20&nbsp;%.</span>
                    </div>

                </div>
                @*
    <div class="row">
        <div class="col-md-6">
            <div class="well">
                <h3>Ei harjoituksia</h3>
                <ul class="list-unstyled">
                    <li>
                        <i class="fa fa-caret-right pr-10 text-colored"></i>
                        <span class="label label-default">24.3.2016</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-6">
        </div>
    </div>*@
                <div class="space"></div>
                @Html.Partial("_Training")
                <div class="object-non-visible" data-animation-effect="fadeIn">

                    <div class="space">
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <h1 id="instructors" class="text-center title">Ohjaajat</h1>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <img src="~/Images/Teemu.jpg" alt="Teemu" class="img-circle center-block" width="300">
                            <div class="text-center h3">Teemu</div>
                        </div>
                        <div class="col-md-4">
                            <img src="~/Images/Mika.jpg" alt="Mika" class="img-circle center-block" width="300">
                            <div class="text-center h3">Mika</div>

                        </div>
                        <div class="col-md-4">
                            <img src="~/Images/Mikko.jpg" alt="Mikko" class="img-circle center-block" width="300">
                            <div class="text-center h3">Mikko</div>
                        </div>
                    </div>
                    <div class="space">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
