<div class="section clearfix object-non-visible" data-animation-effect="fadeIn">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 id="seura" class="title text-center">Krav Maga <span>Tapiola</span></h1>
                <p class="lead text-center">Toiminta käynnistyy 8.9.2015 - tule mukaan!</p>
                <div class="space"></div>
                <div class="row">
                    <div class="col-md-6">
                        <h3>Treeniaikataulu</h3>
                        <ul id="eventlist"></ul>
                    </div>
                    <div class="col-md-6">
                        <p>
                            Krav Maga Tapiola kuuluu <a href="http://www.krav-maga.fi/">Pohjolan Krav Maga Itsepuolustusliiton (PKMI)</a> kautta maailman suurimman Krav Maga -liiton, <a href="http://www.krav-maga.net/en/">Euroopan Krav Maga -liittoon (FEKM)</a> ja seurassa opetetaan Richard Douiebin Krav Maga –tyylisuuntaa.
                        </p>
                        <p>Krav Maga Tapiola ry on perustettu 30.7.2015. Toiminta käynnistyy syyskuussa 2015 Tapiolassa Tuulimäen väestösuojan judosalissa 1 noin kahden kuukauden mittaisella peruskurssilla. 
                        Peruskurssin jälkeen harrastajilla on mahdollisuus jatkaa lajin parissa.</p>
                    </div>
                </div>
                <div class="space"></div>
             @Html.Partial("_Training")
            </div>
        </div>
    </div>
</div>
