
<div class="image-box">
    <div class="overlay-container">
        <img src="~/Images/soldiers.jpg" alt="">
        <a class="overlay" data-toggle="modal" data-target="#project-8">
            <i class="fa fa-search-plus"></i>
            <span>Lähitaistelu</span>
        </a>
    </div>
    <a class="btn btn-default btn-block" data-toggle="modal" data-target="#project-8">Lähitaistelu</a>
</div>
<!-- Modal -->
<div class="modal fade" id="project-8" tabindex="-1" role="dialog" aria-labelledby="project-8-label" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            @ModalHeader("Lähitaistelu", 8)
            <div class="modal-body">
                <h3>Lähitaistelu</h3>
                <div class="row">
                    <div class="col-md-6">
                        <p>Lähitaistelu on sotilaille opetettava Krav Magan muoto. Krav Magan kehittäjä
                            Imrich "Imi" Lichtenfeld kehitti ja opetti alun perin tätä Krav Magan muotoa Israelin armeijalle vuodesta 1948 alkaen.
                            Siirryttyään eläkkeelle 1960-luvulla Imi alkoi kehittää lajista siviileille tarkoitettua itsepuolustusversiota mottonaan "Jotta jokainen voisi kulkea rauhassa".
                        </p>
                        <p>Krav Magan lähitaisteluversio on kehitetty sodan ajan olosuhteisiin, jolloin tekniikoiden tarkoituksena on neutralisoida vihollinen mahdollisimman nopeasti ja tehokkaasti.
                            Krav Magan lähitaistelutekniikat eivät siten sovellu sellaisenaan rauhan ajan itsepuolustustekniikoiksi. Sen sijaan stressin- ja pelon hallintaan liittyvät
                            asiat ja niiden opettaminen ovat molemmissa Krav Magan muodoissa hyvin samankaltaisia.</p>
                        <p>Pohjolan Krav Maga Itsepuolustusliitto järjestää vuosittain maaliskuussa kahden päivän mittaisen "Krav Maga Polish Military Camp" –leirin, jonka aikana harjoitellaan
                            Krav Magan lähitaistelutekniikoita Puolan armeijan lähitaistelukouluttajien johdolla.

                        </p>
                    </div>
                    <div class="col-md-6">
                        <div class="embed-responsive embed-responsive-4by3">
                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/xK5yue1B1jA" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Sulje</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal end -->

@helper ModalHeader(string header, int id)
{
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">&times;</span><span class="sr-only">Sulje</span>
        </button>
        <h4 class="modal-title" id="project-@id-label">@header</h4>
    </div>
}
