<div class="image-box">
    <div class="overlay-container">
        <img src="~/Images/douieb.jpg" alt="">
        <a class="overlay" data-toggle="modal" data-target="#modal-4">
            <i class="fa fa-search-plus"></i>
            <span>FEKM – Fédération Européenne de Krav Maga</span>
        </a>
    </div>
    <a class="btn btn-default btn-block" data-toggle="modal" data-target="#modal-4">FEKM</a>
</div>
<!-- Modal -->
<div class="modal fade" id="modal-4" tabindex="-1" role="dialog" aria-labelledby="modal-4-label" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Sulje</span></button>
                <h4 class="modal-title" id="modal-4-label">FEKM – Fédération Européenne de Krav Maga</h4>
            </div>
            <div class="modal-body">

                <h3>FEKM – Fédération Européenne de Krav Maga</h3>
                <div class="row">
                    <div class="col-md-6">
                        <p>
                            Krav Maga on nykyisin maailmanlaajuisesti levinnyt monien kansainvälisten liittojen alaisuuteen.
                            Lajiliittoja ovat The Israeli Krav Maga Association (IKMA),
                            Federation Europeenne de Krav-Maga (FEKM), The Krav Maga Association of America (KMAA),
                            International Krav Maga Federation (IKMF) ja Krav Maga Global (KMG).
                        </p>
                        <p>
                            Selkeästi maailman suurimmaksi Krav Maga -organisaatioksi nousi vuonna 2010 Rio de Janeiron
                            kansainvälisessä Krav Maga -kokouksessa FEKM lähes 10 000 jäsenellään.
                        </p>
                        <p>
                            Liiton johdossa toimii lajin perustaja Imrich Lichtenfeldin oppilas Richard Douieb (6. dan).
                            Richard Douieb aloitti Imi Lichtenfeldin virallisena edustajana Euroopassa vuonna 1987,
                            jolloin hän perusti Ranskassa Euroopan Krav Maga –liiton (FEKM). Tällä hetkellä FEKM:n
                            rekisteröityjen harrastajien määrä on yli 15 000. FEKM:llä on toimintaa ja kansalliset lajiliitot kymmenessä maassa:
                            Ranska, Belgia, Sveitsi, Puola, Suomi, Portugali, Italia, Espanja, Englanti ja Luxemburg.
                            Lisäksi liitolla on Krav Maga –toimintaa Kanadan Montrealissa ja Norjassa ollaan parhaillaan
                            käynnistämässä FEKM:n Krav Maga koulua.
                        </p>
                        <p>
                            FEKM:n kaikissa Krav Maga -kouluissa maasta riippumatta opetetaan samalla tavalla samaa
                            systeemiä. Krav Maga Tapiolan ohjaajat ovat suorittaneet sekä FEKM:n ohjaajatutkinnon Ranskassa
                            että kansallisen PKMI:n ohjaajatutkinnon.
                        </p>
                    </div>
                    <div class="col-md-6">
                        <div class="embed-responsive embed-responsive-4by3">
                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ilw2ZKoZLTI" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Sulje</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal end -->
