<p>
    Peruskurssilla ei tarvita suojia tai varusteita. Asusteeksi käyvät tavanomaiset sisäliikuntavaatteet. Tatami ei kestä lenkkitossuja eikä kovareunaisia sisäpelikenkiä, joten jalkineiksi käyvät pehmeät sisätossut, esimerkiksi painitossut tai paljasjalkajuoksukengät.
    Painitossut eivät sovellu kaikkiin harjoituksiin harjoitusjalkineiksi liian hyvän pidon vuoksi. Liian suuri pito estää tukijalkaa kiertymästä potkuharjoituksissa, jolloin polvi- tai nilkkavammat ovat mahdollisia.
    Paljain jaloin tai (puhtaat) sukat jalassa on myös mahdollista harjoitella. 
    Alasuojien hankkimista suositellaan mahdollisimman varhaisessa vaiheessa, jopa peruskurssilla.
</p>
<p>
    Peruskurssin jälkeen Krav Maga –harjoituksissa käytetään valkoista virallista harjoituspaitaa ja mustia budohousuja sekä vyöarvoa osoittavaa vyötä (keltaisesta alkaen). 
    Muita yleisesti käytettäviä suojia ovat hammassuojat, säärisuojat, sekä nyrkkeilyhanskat.
</p>
