@using KravMagaTapiola.Support

<div class="image-box">
    <div class="overlay-container">
        <img src="~/Images/km_action.jpg" alt="Krav Maga in action">
        <a class="overlay" data-toggle="modal" data-target="#project-6">
            <i class="fa fa-search-plus"></i>
            <span>Krav Maga</span>
        </a>
    </div>
    <a class="btn btn-default btn-block" data-toggle="modal" data-target="#project-6">Krav Maga</a>
</div>
<!-- Modal -->
<div class="modal fade" id="project-6" tabindex="-1" role="dialog" aria-labelledby="project-6-label" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            @HtmlHelpers.ModalHeader("Krav Maga", 6)
            <div class="modal-body">
                <h3>Krav Maga</h3>
                <div class="row">
                    <div class="col-md-6">
                        <p>Krav Maga on hepreaa ja tarkoittaa vapaasti käännettynä taistelukoulutusta.
                        </p>
                        <h3>Krav Magan perusperiaatteita</h3>
                        <p>
                            Kaikki Krav Maga -tekniikat tähtäävät suurimpaan mahdolliseen tehokkuuteen tosielämän itsepuolustustilanteissa. Tekniikoissa hyödynnetään ihmiskehon luontaisia refleksejä siten,
                            että kaikki tekniikat noudattavat samoja yksinkertaisia ja käytännöllisiä periaatteita. Hyökkäyksen kohteeksi jouduttaessa pyritään mahdollisimman
                            nopeasti ottamaan aloite tilanteessa itselle. Tämä tapahtuu siten, että pyritään kääntämään puolustautuminen hyökkäykseksi
                            mahdollisimman nopeasti. Tavoitteena on saada hyökkäys välittömästi lopetettua, ja päästä mahdollisimman
                            pienin vahingoin irtautumaan tilanteesta.
                        </p>
                        <h3> Oikeus puolustaa itseään</h3>
                        <p>
                            Tärkeä elementti Krav Magan itsepuolustusmuodossa on itsepuolustuksen oikeutukseen ja itsepuolustuksessa käytettyjen puolustustekojen voimakkuuteen liittyvien seikkojen ymmärtäminen ja sisäistäminen. Suomessa tätä asiaa säätelee Rikoslain 4:4§ hätävarjelusäännökset.
                        </p>
                       </div>
                    <div class="col-md-6">
                        <img src="~/Images/km_action.jpg" alt="Krav Maga in action">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Sulje</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal end -->