@using KravMagaTapiola.Support
<div class="image-box">
    <div class="overlay-container">
        <img src="images/portfolio-5.jpg" alt="">
        <a class="overlay" data-toggle="modal" data-target="#project-5">
            <i class="fa fa-search-plus"></i>
            <span>Tasojärjestelmä</span>
        </a>
    </div>
    <a class="btn btn-default btn-block" data-toggle="modal" data-target="#project-5">Tasojärjestelmä</a>
</div>
<div class="modal fade" id="project-5" tabindex="-1" role="dialog" aria-labelledby="project-5-label" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            @HtmlHelpers.ModalHeader("Tasojärjestelmä", 5)
            <div class="modal-body">
                <h3>Tasojärjestelmä</h3>
                <div class="row">
                    <div class="col-md-6">
                        <p>
                            Krav Magan alkuperäisenä tasojärjestelmänä on budolajeista tuttu vyöjärjestelmä (keltainen, oranssi, vihreä, sininen, ruskea sekä musta, jossa on kymmenen dan -astetta).
                        </p>
                        <p>
                            FEKM:llä on käytössä tämä budolajeista tuttu järjestelmä. FEKM:n ja PKMI:n tasojärjestelmä yhdistettiin vuonna 2012. Tätä ennen Suomessa oli käytössä ruskean ja mustan vyön välissä punainen vyö.
                        </p>
                        <p>Henkilöt, jotka ovat suorittaneet punaisen vyön ennen tasojärjestelmien yhdistämistä, käyttävät edelleen punaista vyötä, kunnes suorittavat mustan vyön.</p>
                        <p>
                            Korkeimmat vyöarvot tällä hetkellä FEKM:llä ovat yksi 6.dan (Richard Douieb) ja kuusi kappaletta 5.daneja. Kaikki edellä mainitut ovat ranskalaisia.
                        </p>
                        <p>Suomessa on tällä hetkellä yksi 3.dan (Ari Kangas), kolme 2.dania sekä seitsemän 1.dania.</p>

                    </div>
                    <div class="col-md-6">
                        <div class="embed-responsive embed-responsive-4by3">
                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ELdI3PU0Yws" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Sulje</button>
            </div>
        </div>
    </div>
</div>
