@using KravMagaTapiola.Support
<div class="image-box">
    <div class="overlay-container">
        <img src="~/Images/km_musta.png" alt="Krav Maga">
        <a class="overlay" data-toggle="modal" data-target="#project-3">
            <i class="fa fa-search-plus"></i>
            <span>PKMI – Pohjolan Krav Maga itsepuolustusliitto</span>
        </a>
    </div>
    <a class="btn btn-default btn-block" data-toggle="modal" data-target="#project-3">PKMI</a>
</div>
<!-- Modal -->
<div class="modal fade" id="project-3" tabindex="-1" role="dialog" aria-labelledby="project-3-label" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            @HtmlHelpers.ModalHeader("PKMI – Pohjolan Krav Maga itsepuolustusliitto", 3)
            <div class="modal-body">

                <h3>PKMI – Pohjolan Krav Maga itsepuolustusliitto</h3>
                <div class="row">
                    <div class="col-md-6">
                        <p>
                            Suomessa FEKM:n kansallisena lajiliittona toimii PKMI (Pohjolan Krav Maga Itsepuolustusliitto ry).
                            Jokaisella kansallisella liitolla on oma presidenttinsä ja tekninen johtajansa.
                            Molemmat näistä toimivat tiiviissä yhteistyössä kattojärjestö FEKM:n kanssa varmistaen sen,
                            että toiminta pysyy yhdenmukaisena kansallisen ja kansainvälisen liiton välillä.
                        </p>
                        <p>
                            PKMI:n puheenjohtajana toimii Ari Kangas (3.dan) ja teknisenä johtajana Teemu Qvick (2.dan).
                            Teemu Qvick toimii myös Krav Maga Tapiola ry:n puheenjohtajana sekä pääkouluttajana.
                            Pohjolan Krav Maga itsepuolustuslitto ry on perustettu vuonna 1998.
                        </p>
                        <p>Krav Maga Tapiolan lisäksi PKMI ry:hyn kuuluvia Krav Maga -seuroja ovat Combat Academy of Finland (Helsingin Sörnäinen ja Vantaan Myyrmäki), Chitalada Finland (Tampere), Fitness Club (Pietarsaari), Kouvolan Itsepuolustus (Kouvola) sekä Ronin Krav Maga (Eura).</p>
                    </div>
                    <div class="col-md-6">
                        <img src="~/Images/km_musta.png" alt="Krav Maga">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Sulje</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal end -->