
<div class="section translucent-bg bg-image-2 pb-clear">
    <div class="container object-non-visible" data-animation-effect="fadeIn">

        <h1 id="tietoa" class="title text-center">Krav Magan periaatteet</h1>

        <div class="space"></div>
        <div class="row">
            <div class="col-md-6">
                <div class="media testimonial">
                    <div class="media-body">
                        <blockquote>
                            <p>Ennaltaehkäisy / uhan välttäminen</p>
                            <p>Uhan välttäminen puhumalla, mikäli se on mahdollista</p>
                            <p>Ihmiskehon luontaisten refleksien hyödyntäminen</p>
                            <p>Hyökkääminen ihmiskehon arkoihin paikkoihin</p>
                        </blockquote>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="media testimonial">
                    <div class="media-body">
                        <blockquote>
                            <p>
                                Mahdollisimman nopea siirtyminen puolustautumisesta hyökkäämiseen. Torjunnat ja vastahyökkäykset tehdään aina lyhyintä tietä
                            </p>

                            <p>Minkä tahansa saatavilla olevan apuvälineen hyödyntäminen</p>
                            <p>Sääntöjä ei ole</p>
                            <footer>Imi Lichtenfeld</footer>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- section start -->
    <!-- ================ -->
    <div class="translucent-bg blue">
        <div class="container">
            <div class="list-horizontal">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="space">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
