
<div class="section">
    <div class="container object-non-visible" data-animation-effect="fadeIn">
        <h1 id="tapahtumat" class="title text-center">Seminaarit ja tapahtumat</h1>
        <div class="space"></div>
        <div class="row">
            <div class="col-md-6">
                <div class="bordered">
                    <h3>Tulevat seminaarit ja leirit</h3>
                    <div class="myclub-embed" data-url="https://kravmaga.myclub.fi/flow/events/embed?group_id=9321"></div>                
                </div>
            </div>
            <div class="col-md-6">
                <div class="bordered">
                    <h3>Tulevat tasokokeet</h3>
                    <div class="myclub-embed" data-url="https://kravmaga.myclub.fi/flow/events/embed?group_id=9322"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section pb-clear">
    <div class="container object-non-visible" data-animation-effect="fadeIn">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h1 class="text-center title" id="videos">Videot</h1>
                    <div class="space"></div>
                    <div id="video-gallery" class="row">
                        <div class="col-md-12">
                            <a class="col-lg-6 col-xs-12 thumb" href="#" data-src="https://www.youtube.com/watch?v=mmEK-uWDKF8">
                                <img src="~/Images/intro.jpg" class="img-rounded img-responsive" />
                            </a>
                            <a class="col-lg-6 col-xs-12 thumb" href="#" data-src="https://www.youtube.com/watch?v=zgLtU6fnx2U">
                                <img src="~/Images/teaser1.jpg" class="img-rounded img-responsive"/>
                            </a>
                            <a class="col-lg-4 col-xs-12 thumb" href="#" data-src="https://www.youtube.com/watch?v=Tk4hkr2k_FI">
                                <img src="~/Images/teaser2.jpg" class="img-rounded img-responsive"/>
                            </a>
                            <a class="col-lg-4 col-xs-12 thumb" href="#" data-src="https://www.youtube.com/watch?v=3e5erzTEiNY">
                                <img src="~/Images/teaser3.jpg" class="img-rounded img-responsive"/>
                            </a>
                            <a class="col-lg-4 col-xs-12 thumb" href="#" data-src="https://www.youtube.com/watch?v=2JCb1RLQ6kQ">
                                <img src="~/Images/teaser6.jpg" class="img-rounded img-responsive"/>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
