
<div class="section">
    <div class="container object-non-visible" data-animation-effect="fadeIn">
        <h1 id="kurssit" class="title text-center">Kurssit ja tapahtumat</h1>

        <div class="space"></div>
        <div class="row">
            <div class="col-md-12">
                <!-- myClub embed JS - start -->
                <div class="myclub-embed" data-url="https://kravmaga.myclub.fi/flow/events/embed?group_id=9321"></div>
                <script>(function(d, s, id) { var js, mjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s); js.id = id; js.async = true; js.src = "https://kravmaga.myclub.fi/assets/embed_v2.js"; mjs.parentNode.insertBefore(js, mjs); }(document, 'script', 'myclub-embed-js'));</script>
                <!-- myClub embed JS - end -->
            </div>
        </div>
    </div>
</div>
<div class="section pb-clear">
    <div class="container object-non-visible" data-animation-effect="fadeIn">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h1 class="text-center title" id="videos">Videot</h1>
                    <div class="space"></div>
                    <div id="video-gallery" class="row">
                        <div class="col-md-12">                         
                            <a class="col-lg-6 col-xs-12 thumb" href="#" data-src="https://www.youtube.com/watch?v=zgLtU6fnx2U">
                                <img src="~/Images/teaser1.jpg" class="img-rounded img-responsive"/>
                            </a>
                            <a class="col-lg-6 col-xs-12 thumb" href="#" data-src="https://www.youtube.com/watch?v=Tk4hkr2k_FI">
                                <img src="~/Images/teaser2.jpg" class="img-rounded img-responsive"/>
                            </a>
                            <a class="col-lg-6 col-xs-12 thumb" href="#" data-src="https://www.youtube.com/watch?v=3e5erzTEiNY">
                                <img src="~/Images/teaser3.jpg" class="img-rounded img-responsive"/>
                            </a>
                            <a class="col-lg-6 col-xs-12 thumb" href="#" data-src="https://www.youtube.com/watch?v=2JCb1RLQ6kQ">
                                <img src="~/Images/teaser6.jpg" class="img-rounded img-responsive"/>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
