
<div class="section translucent-bg bg-image-2 pb-clear">
    <div class="container object-non-visible" data-animation-effect="fadeIn">

        <h1 id="tietoa" class="title text-center">Krav Magan periaatteet</h1>

        <div class="space"></div>
        <div class="row">
            <div class="col-md-6">
                <div class="media testimonial">
                    <div class="media-body">
                        <blockquote>
                            <p>Ennaltaehkäisy / uhan välttäminen</p>
                            <p>Uhan välttäminen puhumalla, mikäli se on mahdollista</p>
                            <p>Ihmiskehon luontaisten refleksien hyödyntäminen</p>
                            <p>Hyökkääminen ihmiskehon arkoihin paikkoihin</p>
                        </blockquote>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="media testimonial">
                    <div class="media-body">
                        <blockquote>
                            <p>
                                Mahdollisimman nopea siirtyminen puolustautumisesta hyökkäämiseen. Torjunnat ja vastahyökkäykset tehdään aina lyhyintä tietä
                            </p>

                            <p>Minkä tahansa saatavilla olevan apuvälineen hyödyntäminen</p>
                            <p>Sääntöjä ei ole</p>
                            <footer>Imi Lichtenfeld</footer>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- section start -->
    <!-- ================ -->
  
</div>
<div class="section pb-clear">
    <div class="container object-non-visible" data-animation-effect="fadeIn">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h1 class="text-center title" id="videos">Videot</h1>
                    <div class="space"></div>
                    <div id="video-gallery" class="row">
                        <div class="col-md-4">
                            <div class="portfolio-item">
                                <a href="#" data-src="https://www.youtube.com/watch?v=zs69c9m2zvM">
                                    <img src="~/Images/treeniopaste.jpg" class="img-rounded img-responsive"/>
                                </a>
                                <h3>Kulkuopaste treeneihin</h3>
                                <p>Näin löydät paikan päälle!</p>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <a class="col-lg-6 col-xs-6 thumb" href="#" data-src="https://www.youtube.com/watch?v=fvBjRhL7B3E">
                                <img src="~/Images/teaser4.jpg" class="img-rounded img-responsive" />
                            </a>
                            <a class="col-lg-6 col-xs-6 thumb" href="#" data-src="https://www.youtube.com/watch?v=zgLtU6fnx2U">
                                <img src="~/Images/teaser1.jpg" class="img-rounded img-responsive"/>
                            </a>
                            <a class="col-lg-6 col-xs-6 thumb" href="#" data-src="https://www.youtube.com/watch?v=Tk4hkr2k_FI">
                                <img src="~/Images/teaser2.jpg" class="img-rounded img-responsive"/>
                            </a>
                            <a class="col-lg-6 col-xs-6 thumb" href="#" data-src="https://www.youtube.com/watch?v=3e5erzTEiNY">
                                <img src="~/Images/teaser3.jpg" class="img-rounded img-responsive"/>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
