@using KravMagaTapiola.Support


<div class="image-box">
    <div class="overlay-container">
        <img src="~/Images/defence.jpg" alt="Krav Maga itsepuolustus">
        <a class="overlay" data-toggle="modal" data-target="#project-7">
            <i class="fa fa-search-plus"></i>
            <span>Itsepuolustus</span>
        </a>
    </div>
    <a class="btn btn-default btn-block" data-toggle="modal" data-target="#project-7">Itsepuolustus</a>
</div>
<!-- Modal -->
<div class="modal fade" id="project-7" tabindex="-1" role="dialog" aria-labelledby="project-7-label" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            @HtmlHelpers.ModalHeader("Itsepuolustus", 7)
            <div class="modal-body">
                <h3>Itsepuolustus</h3>
                <div class="row">
                    <div class="col-md-6">
                        <p>Itsepuolustus on eniten opetettu Krav Magan muoto. Krav Magan itsepuolustusjärjestelmä koostuu tekniikoista, jotka perustuvat ihmisen luontaisiin reaktioihin
                            stressitilanteessa. Harjoittelun avulla näitä luontaisia reaktioita hiotaan toiminnan kannalta mahdollisimman tehokkaiksi. Harjoittelun tavoitteena on asteittain parantaa
                            henkilön kykyä puolustaa itseään. Tekniikoihin sisältyy puolustautumista aseetonta, aseistautunutta ja useampaa hyökkääjää vastaan erilaisissa olosuhteissa ja asennoissa.
                            Krav Maga Tapiola opettaa Krav Magan itsepuolustusversiota. Intro-kurssille osallistuminen ei edellytä aiempaa kokemusta kamppailulajeista.
                        </p>
                    </div>
                    <div class="col-md-6">
                        <div class="embed-responsive embed-responsive-4by3">
                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/mKelMRJPZ6c" allowfullscreen></iframe>
                        </div>
                        <strong>Krav Magan harjoittelua Pariisin talvileiriltä 2014</strong>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Sulje</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal end -->