
<h2>Harjoittelu</h2>
<div class="row">
    <div class="col-md-6">
        <p>
            Krav Magaa voi harjoitella, vaikka ei haluaisi suorittaa vyöarvoja. Vyökokeet toimivat kuitenkin erinomaisena mittarina omalle edistymiselle ja ovat hyviä oppimistilaisuuksia. Lisäksi Krav Maga –järjestelmän hallinta rakentuu tasokoetekniikoiden pohjalle, joten harjoitusten pääpaino on niissä.
        </p>
        <h3>Peruskurssi</h3>
        <p>
            Peruskurssi kestää noin 2 kuukautta, minkä päätteeksi pidetään peruskurssin tasokoe.
        </p>
        <ul class="list-unstyled">
            <li><i class="fa fa-caret-right pr-10 text-colored"></i>Syksy: Peruskurssi alkaa 8.9. tiistaina</li>
            <li><i class="fa fa-caret-right pr-10 text-colored"></i>Kevät: Peruskurssi alkaa 12.1. tiistaina</li>
            <li><i class="fa fa-caret-right pr-10 text-colored"></i>15 treenikertaa (22,5 h) + tasokoe (2 h)</li>
        </ul>
    </div>
    <div class="col-md-6">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                        <a class="collapse" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Harjoitusasu, suojat ja varusteet
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        @Html.Partial("_Gear")
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingTwo">
                    <h4 class="panel-title">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Kuka voi aloittaa lajin?
                        </a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="panel-body">
                        <p>
                            Krav Magan harjoittelu edellyttää nuhteettomuutta. Väkivaltarikokseen tai vastaavaan tuomittavaan tekoon syyllistyminen on este kurssille osallistumiselle.
                        </p>
                        <p>Krav Magan harjoittelun voi aloittaa 18 vuoden iän saavutettuaan.</p>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingThree">
                    <h4 class="panel-title">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Onko harjoittelu vaarallista?
                        </a>
                    </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                    <div class="panel-body">
                        <p>
                            Krav Maga –harjoituksissa sattuu harvoin loukkaantumisia.
                            Esimerkiksi sparriharjoituksia kovennetaan asteittain hitaasti harjoitusvuosien karttuessa.
                            Tekniikoita harjoitellaan ensin hitaasti lisäten nopeutta ja voimaa vasta sitten,
                            kun harjoittelijat hallitsevat tekniikat.
                        </p>
                        <p>
                            Tästä huolimatta itsepuolustuslajit kattavaa tapaturmavakuutusta tai
                            sairauskuluvakuutusta suositellaan hankittavaksi ennen harjoittelun aloittamista.
                        </p>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="heading4">
                    <h4 class="panel-title">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="false" aria-controls="collapse4">
                            Eteneminen
                        </a>
                    </h4>
                </div>
                <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading4">
                    <div class="panel-body">

                        <p>
                            Harjoittelu etenee loogisesti siten, että peruskurssin, keltaisen ja oranssin tason aikana luodaan hyvä pohja tulevalle kehittymiselle. Opetuksessa painotetaan perustaitojen erinomaista hallintaa.
                            Krav Magan perustaitoja ovat liikkuminen, tasapaino, torjunnat, lyönnit ja potkut.
                        </p>
                        <p>
                            Vihreällä tasolla opittuja perustaitoja harjoitellaan kovemmassa tempossa ja päälle lisätään otteista vapautumisia pystyssä ja maassa ja kehitetään moninkertaisen vastahyökkäyksen hallintaa. Moninkertainen vastahyökkäys tarkoittaa nopeassa tahdissa eri korkeuksille kohdistuvaa vastahyökkäysten sarjaa, jonka avulla puolustautuminen käännetään hyökkäämiseksi ja aloite tilanteessa siirretään hyökkääjältä itselle.
                        </p>
                        <p>
                            Sinisellä tasolla painotetaan puolustautumista teräaseita ja lyömäaseita vastaan sekä heittoja ja pyyhkäisyitä. Lisäksi tällä tasolla harjoitellaan tekemään aikaisemmin opitut torjunnat penkillä istuen. Terä- ja lyömäaseita vastaan toimimista harjoitellaan melko paljon jo aikaisemminkin, mutta sinisellä tasolla niihin keskitytään erityisesti.
                        </p>
                        <p>
                            Ruskealla tasolla uutena asiana tulevat aseuhkatekniikat pistoolia vastaan. Lisäksi tällä tasolla harjoitellaan tekemään aikaisemmin opitut torjunnat maassa istuen tai maaten. Ruskealla tasolla harjoitellaan myös hyppypotkuja sekä potkuyhdistelmiä.
                        </p>
                        <p>Musta 1.dan kokoaa kaiken siihen asti opitun yhteen niin, että kaikki tekniikat on hallittava täydellä nopeudella tilanteissa, joissa ei ole etukäteen tiedossa mikä hyökkäys on tulossa.</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>