
<div class="translucent-bg blue">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="space">
                </div>
                <h3 class="text-center">
                    <strong>Krav Maga Tapiola</strong> kuuluu Pohjolan Krav Maga Itsepuolustusliiton (PKMI) kautta maailman suurimpaan Krav Maga -liittoon, Euroopan Krav Maga -liittoon (FEKM-RD)</h3>
                <div class="space">
                </div>
            </div>
        </div>
    </div>
</div>
@Html.Partial("_Information")
@Html.Partial("_Club")
@Html.Partial("_Principles")
