
<div class="translucent-bg blue">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="space">
                </div>
                <h2 class="text-center">
                    Krav Maga on israelilainen lähitaistelu- ja itsepuolustusjärjestelmä
                </h2>
                <div class="space">
                </div>
            </div>
        </div>
    </div>
</div>
@Html.Partial("_Club")
@Html.Partial("_Principles")
@Html.Partial("_Information")